.column{
	height:100%;
	font-size: 0.9em;
	position: absolute;
	width:50%;
}
.collapsed h1{
	margin-top:0.5em;
	-webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
    -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.collapsed{
	width:2em;
	background-color: rgba(0,0,0,0.1);
}